.containerSlide {
    width: 650px;
    margin: auto;
    padding-top: 200px;
}

.containerSlide img {
    height: 500px;

}

.box-center{
    box-sizing: border-box;
    width: 50%;
    margin-left: 25%;
}